*.m4
*.cache/
ar-lib
compile
*.log
*.status
configure
install-sh
missing
Makefile
Makefile.in
*.ko
*.a
*.o
*.cmd
*.order
*.mod.c
*.mod
*.pre
*.dtbo
*.dts.pre

# Debian packaging
.debhelper/
*.buildinfo
*.changes
*.deb
*.substvars
d3-ar0823/debian/*/
d3-ar0823/debian/changelog
d3-ar0823/debian/changelog-next
d3-ar0823/debian/files
